{% load static i18n %}
{% load cms_tags sekizai_tags %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Portfolio">
    <meta name="keywords"
          content="Creative, minimal, Portfolio, cv, business, Resume, Information, personal portfolio, Professional">
    <meta name="author" content="kamleshyadav">
    <meta name="MobileOptimized" content="320">
    <!--Start Style -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-jvectormap-2.0.3.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/scrollbar.css' %}">
    <!-- Favicon Link -->
    <link rel=" shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <title>{% page_attribute "page_title" %}</title>
    {% render_block "css" %}
    {% render_block "js" %}
</head>

<body>
{% cms_toolbar %}
<div class="preloader">
    <div class="status"><img src="{% static 'images/loader.gif' %}" id="preloader_image" alt="loader">
    </div>
</div>
{% include 'layaout/sidebar.html' %}
{% block body %}
<h1>{% render_model instance "some_attribute" "some_field,other_field" "" "" "some_method" %}aqui</h1>
{% endblock %}

<div class="bottom_top">
    <i class="fas fa-arrow-up">
    </i><i class="fas fa-arrow-up"></i>
</div>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/cvtext1.js' %}"></script>
<script src="{% static 'js/cvtext2.js' %}"></script>
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/swiper.min.js' %}"></script>
<script src="{% static 'js/circle-progress.js' %}"></script>
<script src="{% static 'js/jquery-jvectormap.min.js' %}"></script>
<script src="{% static 'js/jquery-jvectormap-world-mill.js' %}"></script>
<script src="{% static 'js/scrollbar.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
</body>
</html>
