{% load static i18n %}
{% load cms_tags menu_tags sekizai_tags %}


<div class="port_sec_warapper">
    <div class="port_about_setions prt_toppadder80 page_scroll" data-scroll="0" id="about_sec">
        <div class="selfintro_section">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-12 col-md-12">
                        <div class="about_leftsection ">
                            <div class="img_warapper">
                                <img class="img-fluid" src="{% static 'images/selfintro.jpg' %}"
                                     alt="About" title="more information click + icon">
                                <div class="icon" title="more information click + icon">
                                    <div class="iconbox">
                                        <i class="fa fa-plus icon_plus" aria-hidden="true"></i>
                                        <i class="fa fa-minus icon_minus" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="left_deatils">
                                <div class="personal_details">
                                    <h1 class="ps_name">John Weary</h1>
                                    <p class="ps_designation">UI & UX Designer</p>
                                    <ul class="info-list">
                                        <li><span class="title">Age</span><span class="value">28</span></li>
                                        <li><span class="title">Address</span><span class="value">71 Pilgrim Avenue Chevy Chase, MD 20815 </span>
                                        </li>
                                        <li><span class="title">E-mail</span><span class="value"><a
                                                href="mailto:email@example.com">email@example.com</a></span></li>
                                        <li><span class="title">Residence</span><span class="value">USA</span></li>
                                        <li><span class="title">Phone</span><span
                                                class="value">+0123 789 123 456 </span></li>
                                        <li><span class="title">Skype</span><span class="value">Caseyj.mullins</span>
                                        </li>
                                        <li><span class="title">Freelance</span><span
                                                class="value available">Available</span></li>
                                    </ul>
                                    <ul class="social-links">
                                        <li><a class="tip social-button" href="javascript:;"><i
                                                class="fab fa-facebook-f"></i></a></li>
                                        <li><a class="tip social-button" href="javascript:;"><i
                                                class="fab fa-linkedin-in"></i></a></li>
                                        <li><a class="tip social-button" href="javascript:;"><i
                                                class="fab fa-whatsapp"></i></a></li>
                                        <li><a class="tip social-button" href="javascript:;"><i
                                                class="fab fa-twitter"></i></a></li>
                                        <li><a class="tip social-button" href="javascript:;"><i
                                                class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-12 col-md-12">
                        <div class="right_section">
                            <div class="port_heading_wrapper">
                                <div class="port_sub_heading_wrapper">
                                    <h2 class="port_sub_heading">About Me </h2>
                                </div>
                            </div>
                            <h2 class="about_tophead">{% static_placeholder "detail-title" or %}I'm In The Design Industry With 10 Years Of Experience.{% endstatic_placeholder %}</h2>
                            <p class="about_deatils">
                                {% static_placeholder "detail" or %} There are many variations of passages of Lorem Ipsum , but the a
                                have suffered are some form, by injected humour, or the words which don't look even
                                slightl. If you use a passage of, you need to be sure there isn't anything look even
                                slightly believable. If you are going to use a of , you need to be sure there isn't
                                hidden in the middle the on the tend.</p>
                                {% endstatic_placeholder %}
                            <div class="signature_box">
                                <div class="name">
                                    <h2>John Weary</h2>
                                    <p>UI &amp; UX Designer</p>
                                </div>
                                <div class="signature">
                                    <img src="{% static 'images/signature.png' %}" alt="image">
                                </div>
                            </div>
                            <div class="anout_section_btn">
                                <a href="javascript:;" class="portfolio_btn btn_yellow">
                                    <span class="first_text">{% static_placeholder "download-cv" inherit or %}Download CV {% endstatic_placeholder %}</span>
                                    <span class="second_text">{% static_placeholder "download" inherit-1 or %}Download {% endstatic_placeholder %}</span>
                                </a>
                                <a href="javascript:;" class="portfolio_btn btn_red" id="redirect_contact">
                                    <span class="first_text">{% static_placeholder "send-m" inherit-12 or %}Send Message{% endstatic_placeholder %}</span>
                                    <span class="second_text">{% static_placeholder "send" inherit-12-0 or %}Send{% endstatic_placeholder %}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>