{% load static i18n %}

<div class="port_blog_setions prt_toppadder80 prt_bottompadder50" data-scroll="2">
    <div class="blog_section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="port_heading_wrapper text-center prt_bottompadder40">
                        <div class="port_sub_heading_wrapper">
                            <h2 class="port_sub_heading">My Blog</h2>
                        </div>
                        <h1 class="port_heading">Recent News</h1>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="port_blog_mainbox vertical_content">
                        <div class="port_blog_imgbox">
                            <img src="{% static 'images/port-blog1.jpg' %}" alt="blog-image" class="img-fluid"/>
                        </div>
                        <div class="port_blog_contentbox">
                            <span class="date_span">January 28, 2019</span>
                            <h4 class="blog_heading">
                                <a href="blog.html">We are provide unique ideas we help clients.</a>
                            </h4>
                            <div class="blog_info">
                                <ul>
                                    <li><i class="fas fa-user-edit"></i><a href="">By Admin</a></li>
                                    <li><i class="far fa-comments"></i><a href="">50</a></li>
                                </ul>
                            </div>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text.It has roots in a piece
                                of years old.Contrary to popular belief, Lorem Ipsum is not simply random text.It has
                                roots in a piece of years old.</p>
                            <div class="blog_readmore">
                                <a href="blog.html" class="readmore_btn">Read More <i
                                        class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 ">
                    <div class="port_blog_mainbox left_content">
                        <div class="row no-gutters">
                            <div class="col-md-6 order-md-1 order-2">
                                <div class="port_blog_contentbox">
                                    <span class="date_span">January 28, 2019</span>
                                    <h4 class="blog_heading">
                                        <a href="blog.html">See Our most successful complited project.</a>
                                    </h4>
                                    <div class="blog_info">
                                        <ul>
                                            <li><i class="fas fa-user-edit"></i><a href="">By Admin</a></li>
                                            <li><i class="far fa-comments"></i><a href="">50</a></li>
                                        </ul>
                                    </div>
                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text classical.</p>
                                    <div class="blog_readmore">
                                        <a href="blog.html" class="readmore_btn">Read More <i
                                                class="fas fa-long-arrow-alt-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 order-1 align-self-center">
                                <div class="port_blog_imgbox">
                                    <img src="{% static 'images/port-blog2.jpg' %}" alt="blog-image" class="img-fluid"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="port_blog_mainbox right_content">
                        <div class="row no-gutters">
                            <div class="col-md-6 align-self-center">
                                <div class="port_blog_imgbox">
                                    <img src="{% static 'images/port-blog3.jpg' %}" alt="blog-image" class="img-fluid"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="port_blog_contentbox">
                                    <span class="date_span">January 28, 2019</span>
                                    <h4 class="blog_heading">
                                        <a href="blog.html">Unique ideas products are complited project.</a>
                                    </h4>
                                    <div class="blog_info">
                                        <ul>
                                            <li><i class="fas fa-user-edit"></i><a href="">By Admin</a></li>
                                            <li><i class="far fa-comments"></i><a href="">50</a></li>
                                        </ul>
                                    </div>
                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text of
                                        classical.</p>
                                    <div class="blog_readmore">
                                        <a href="blog.html" class="readmore_btn">Read More <i
                                                class="fas fa-long-arrow-alt-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>