{% load static i18n %}


<div class="port_education_setions prt_toppadder80 prt_bottompadder80 "> <!-- start Education section  -->
    <div class="education_section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="port_heading_wrapper text-center prt_bottompadder40">
                        <div class="port_sub_heading_wrapper">
                            <h2 class="port_sub_heading">Learning </h2>
                        </div>
                        <h1 class="port_heading">My Education</h1>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="education_main_wrapper ">
                        <!-- first box -->
                        <div class="education_box education_firsrtbox firstbox">
                            <div class="row">
                                <div class="col-lg-6 col-md-4 col-sm-12 col-12 align-self-center">
                                    <div class="education_mleft education_left ">
                                        <div class="edu_mainyear edu_leftyear">
                                            <h1>2019</h1>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-8 col-sm-12 col-12 align-self-center">
                                    <div class="education_mright education_right ">
                                        <div class="education_minfo education_rinfo ">
                                            <div class="prt_rightside_title">
                                                <div class="left_title_box">
                                                    <div class="left_title">
                                                        <h4>01</h4>
                                                    </div>
                                                    <div class="right_title bg-pink">
                                                        <h4>United States</h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <h3 class="education_place"><span data-hover="Diploma" class="data_hover">Diploma </span>
                                                In UI/UX Design</h3>
                                            <p>Sed ut perspiciatis unde omnis iste natus error a sit voluptatem
                                                accusantium doloremque are they laudantium,totam rem aperiam.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- first box -->
                        <!-- second box -->
                        <div class="education_box education_secondbox secondbox">
                            <div class="row">
                                <div class="col-lg-6 col-md-8 col-sm-12 col-12 align-self-center">
                                    <div class="education_mright education_left ">
                                        <div class="education_minfo education_rinfo ">
                                            <div class="prt_rightside_title">
                                                <div class="left_title_box">
                                                    <div class="right_title bg-yellow">
                                                        <h4>New York</h4>
                                                    </div>
                                                    <div class="left_title">
                                                        <h4>02</h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <h3 class="education_place"><span data-hover="Diploma" class="data_hover">Diploma </span>
                                                In Web Design</h3>
                                            <p>Sed ut perspiciatis unde omnis iste natus error a sit voluptatem
                                                accusantium doloremque are they laudantium,totam rem aperiam.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-4 col-sm-12 col-12 align-self-center">
                                    <div class="education_mleft education_left ">
                                        <div class="edu_mainyear edu_leftyear">
                                            <h1>2018</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- second box -->
                        <!-- third box -->
                        <div class="education_box education_firsrtbox thirdbox">
                            <div class="row">
                                <div class="col-lg-6 col-md-4 col-sm-12 col-12 align-self-center">
                                    <div class="education_mleft education_left ">
                                        <div class="edu_mainyear edu_leftyear">
                                            <h1>2017</h1>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-8 col-sm-12 col-12 align-self-center">
                                    <div class="education_mright education_right ">
                                        <div class="education_minfo education_rinfo ">
                                            <div class="prt_rightside_title">
                                                <div class="left_title_box">
                                                    <div class="left_title">
                                                        <h4>03</h4>
                                                    </div>
                                                    <div class="right_title bg-orange">
                                                        <h4>United States</h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <h3 class="education_place"><span data-hover="Diploma" class="data_hover">Diploma </span>
                                                In UI/UX Design</h3>
                                            <p>Sed ut perspiciatis unde omnis iste natus error a sit voluptatem
                                                accusantium doloremque are they laudantium,totam rem aperiam.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- third box -->
                        <!-- fourth box -->
                        <div class="education_box education_secondbox fourthbox">
                            <div class="row">
                                <div class="col-lg-6 col-md-8 col-sm-12 col-12 align-self-center">
                                    <div class="education_mright education_left ">
                                        <div class="education_minfo education_rinfo ">
                                            <div class="prt_rightside_title">
                                                <div class="left_title_box">
                                                    <div class="right_title bg-cyan">
                                                        <h4>Canada</h4>
                                                    </div>
                                                    <div class="left_title">
                                                        <h4>05</h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <h3 class="education_place"><span data-hover="Diploma" class="data_hover">Diploma </span>
                                                In Angular</h3>
                                            <p>Sed ut perspiciatis unde omnis iste natus error a sit voluptatem
                                                accusantium doloremque are they laudantium,totam rem aperiam.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-4 col-sm-12 col-12 align-self-center">
                                    <div class="education_mleft education_left ">
                                        <div class="edu_mainyear edu_leftyear">
                                            <h1>2016</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- fourth box -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>