{% load static i18n %}
{% load cms_tags menu_tags sekizai_tags %}

<div class="port_sidebar_wrapper mport_sidebar_wrapper">
    <div class="port_sidebar_profile">
        <a href="javascript:;" class="port_sidebar_position active">
            <div class="profile_circle ">
                <img src="{% static 'images/profile.png' %}" alt="profile-image" class="img-fluid"/>
            </div>
        </a>
    </div>
        <div class="language ">
            {% get_available_languages as languages %}
            {% get_current_language as LANGUAGE_CODE %}
            {% if languages|length > 1 %}
             {% for language in languages %}
               <span class="lang text-uppercase {% if language.0 == LANGUAGE_CODE %} active{% endif %}">
                <a href="{% page_language_url language.0 %}"
                   title="{% trans "Change to language:" %} {{ language.1 }}">{{ language.0 }}</a>
               </span>
             {% endfor %}
            {% endif %}
        </div>
    <div class="port_sidebar_nav">
        <div class="port_navigation index_navigation">
            <ul class="nav_list">
                <li data-number="0">
                    <div class="tooltip_box">
                        <a href="javascript:;" class="siderbar_menuicon">
                            <span class="first_micon"><i class="fas fa-1x fa-address-card"></i></span>
                            <span class="second_micon" style="color: Tomato;"><i class="fas fa-1x fa-address-card"></i></span>
                        </a>
                        <span class="menu_tooltip">{% trans 'About' %}</span>
                    </div>
                </li>
                <li data-number="1">
                    <div class="tooltip_box">
                        <a href="" class="siderbar_menuicon">
                            <span class="first_micon"><i class="fas fa-1x fa-briefcase"></i></span>
                            <span class="second_micon" style="color: Tomato;"><i
                                    class="fas fa-1x fa-briefcase"></i></span>
                        </a>
                        <span class="menu_tooltip">{% trans 'Portfolio' %}</span>
                    </div>
                </li>
                <li data-number="2">
                    <div class="tooltip_box">
                        <a href="" class="siderbar_menuicon">
                            <span class="first_micon"><i class="fas fa-1x fa-newspaper"></i></span>
                            <span class="second_micon" style="color: Tomato;"><i
                                    class="fas fa-1x fa-newspaper"></i></span>
                        </a>
                        <span class="menu_tooltip">{% trans 'New Post' %}</span>
                    </div>
                </li>
                <li data-number="3">
                    <div class="tooltip_box">
                        <a href="" class="siderbar_menuicon">
                            <span class="first_micon"><i class="fas fa-1x fas fa-users"></i></span>
                            <span class="second_micon" style="color: Tomato;">
                                <i class="fas fa-1x fas fa-users"></i></span>
                        </a>
                        <span class="menu_tooltip">{% trans 'Contact' %}</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="port_sidebar_social">
        <div class="port__social_box">
            <div class="port__followus">
                <p>Follow Us</p>
            </div>
            <ul class="social_list">
                <li>
                    <a href="javascript:;" class="siderbar_icon">
                        <span class="first_icon"><i class="fab fa-facebook-f nav_fb"></i></span>
                        <span class="second_icon"><i class="fab fa-facebook-f nav_fb"></i></span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" class="siderbar_icon">
                        <span class="first_icon"><i class="fab fa-linkedin-in nav_in"></i></span>
                        <span class="second_icon"><i class="fab fa-linkedin-in nav_in"></i></span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" class="siderbar_icon">
                        <span class="first_icon"><i class="fab fa-whatsapp nav_whats"></i></span>
                        <span class="second_icon"><i class="fab fa-whatsapp nav_whats"></i></span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" class="siderbar_icon">
                        <span class="first_icon"><i class="fab fa-twitter nav_twit"></i></span>
                        <span class="second_icon"><i class="fab fa-twitter nav_twit"></i></span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" class="siderbar_icon">
                        <span class="first_icon"><i class="fab fa-instagram nav_insta"></i></span>
                        <span class="second_icon"><i class="fab fa-instagram nav_insta"></i></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
