{% extends "base.html" %}

{% load static i18n %}
{% load cms_tags menu_tags sekizai_tags %}

{% block body %}
    <!-- start banner section -->
    <div class="port_bannerbg_wrapper">
        <!-- start banner wrapper -->
        <div class="port_banner_wrapper" id="cv_container">
            <div class="container-fluid">
                <div class="row">
                    <div class="banner_img_wrapper">
                        <div class="banner_img">
                            <div class="banner_rcontent vert-move">
                                <div class="banner_svg_box">
                                    <svg class="move_bg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 968 950"
                                         width="968px" height="950px">
                                        <path fill-rule="evenodd"
                                              d="M909.868,270.984 C908.399,273.600 900.242,273.841 898.692,272.078 C897.402,270.610 898.213,269.606 905.406,264.288 C904.387,269.027 912.946,265.501 909.868,270.984 ZM823.326,424.317 C822.516,423.632 821.795,422.803 821.190,421.923 C820.064,420.286 819.039,418.581 817.972,416.904 C818.249,416.603 818.526,416.303 818.803,416.003 C820.641,417.229 822.683,418.248 824.224,419.774 C824.931,420.474 824.772,422.169 824.748,423.408 C824.742,423.742 823.468,424.438 823.326,424.317 ZM58.942,617.513 C60.663,617.437 62.058,617.376 63.452,617.315 C63.038,619.446 62.624,621.577 62.025,624.661 C60.795,621.809 60.041,620.061 58.942,617.513 ZM962.958,152.877 C962.890,153.279 962.823,153.681 962.755,154.082 C964.108,154.896 965.461,155.709 967.079,156.682 C965.180,157.092 962.776,156.984 962.410,157.796 C960.447,162.143 957.809,165.319 951.108,164.972 C953.663,166.804 954.765,167.594 956.036,168.506 C954.863,171.181 954.025,173.952 952.500,176.273 C951.423,177.914 949.462,179.005 947.810,180.226 C946.463,181.222 943.822,181.985 943.770,182.959 C943.499,188.019 939.480,189.186 936.775,190.697 C936.223,192.856 935.476,194.406 935.504,195.942 C935.571,199.671 935.998,203.393 936.281,207.117 C938.486,206.133 940.688,205.141 942.903,204.178 C943.122,204.082 943.418,204.165 944.088,204.165 C941.339,207.746 938.731,211.143 936.334,214.264 C934.861,213.977 932.665,213.548 930.076,213.042 C930.772,218.139 931.301,222.009 931.877,226.223 C927.953,226.534 928.416,229.005 929.613,231.164 C925.952,234.907 922.617,238.317 919.913,241.081 C921.407,243.557 922.632,245.586 923.283,246.665 C919.585,248.976 915.336,250.343 913.413,253.249 C911.925,255.498 913.348,259.674 913.503,263.659 C912.893,263.927 911.037,264.742 908.885,265.686 C908.609,264.369 908.466,263.580 908.274,262.804 C908.080,262.021 907.837,261.250 907.601,260.421 C906.100,260.342 904.711,260.519 903.477,260.161 C896.846,258.235 896.859,258.189 894.728,264.537 C893.662,267.714 891.793,268.214 889.296,266.647 C891.713,262.592 894.100,258.588 896.563,254.455 C893.315,251.064 889.567,251.014 885.466,251.896 C883.973,252.217 882.190,252.160 880.779,251.634 C879.138,251.022 877.760,249.706 876.430,248.806 C869.018,254.653 861.872,248.000 854.139,249.299 C853.859,250.084 853.608,251.595 852.849,252.782 C848.871,258.995 850.431,265.673 856.317,269.807 C860.401,272.674 863.622,276.811 867.794,279.503 C872.437,282.499 874.856,289.498 881.397,287.739 C882.763,290.121 883.509,292.403 885.028,293.903 C891.861,300.654 897.062,309.254 906.457,313.167 C906.846,313.329 907.040,313.936 907.352,314.313 C910.267,317.832 912.900,321.643 916.161,324.806 C925.802,334.153 935.698,343.235 945.477,352.439 C947.812,354.636 947.444,358.689 944.373,359.758 C940.542,361.093 936.429,361.818 932.378,362.264 C928.699,362.670 924.940,362.350 921.572,362.350 C919.456,368.207 917.123,373.587 922.294,379.526 C919.227,380.399 916.915,381.057 914.450,381.759 C914.450,382.994 914.450,384.796 914.450,386.654 C916.767,385.939 918.631,385.364 921.490,384.482 C920.264,388.157 917.333,391.226 922.205,392.348 C920.449,393.874 918.948,395.178 916.919,396.942 C920.195,397.761 922.513,398.341 925.087,398.986 C922.429,401.261 916.555,400.086 917.457,406.385 C919.259,405.742 920.464,405.313 921.668,404.883 C921.983,405.454 922.297,406.025 922.612,406.596 C918.767,408.882 914.923,411.169 910.767,413.640 C912.231,414.399 912.994,414.794 913.560,415.087 C912.348,417.440 909.898,420.118 910.487,421.414 C912.979,426.897 909.962,428.724 906.167,430.546 C905.676,432.694 904.737,434.581 903.561,436.306 C901.223,439.736 898.870,443.169 896.298,446.422 C894.603,448.566 892.598,450.496 890.531,452.292 C890.099,452.668 888.467,452.354 887.938,451.817 C884.047,447.860 883.185,447.757 879.819,452.012 C878.563,453.599 878.110,455.839 876.808,457.370 C873.066,461.768 860.862,461.900 857.183,457.407 C855.331,455.145 853.212,452.064 853.320,449.441 C853.573,443.310 853.122,437.662 849.881,432.293 C846.682,426.993 844.233,421.192 840.666,416.172 C836.014,409.627 834.251,409.564 826.399,413.027 C826.130,413.145 825.764,413.042 825.440,413.040 C825.063,411.794 824.690,410.551 824.315,409.302 C822.601,410.495 820.761,412.442 820.132,412.108 C814.883,409.323 813.890,413.876 811.343,416.968 C817.147,418.411 815.545,421.893 813.444,425.311 C815.069,426.013 816.302,426.547 816.556,426.657 C813.962,428.706 811.207,430.882 808.181,433.272 C810.965,434.778 813.015,435.887 815.066,436.997 C814.829,437.465 814.591,437.934 814.354,438.403 C812.761,438.232 811.168,438.061 808.546,437.779 C810.989,440.095 812.592,441.615 814.282,443.216 C814.672,442.529 815.054,441.856 815.430,441.193 C817.230,442.678 819.016,444.151 820.025,444.983 C819.511,447.081 818.481,448.816 818.971,449.778 C820.148,452.092 822.038,454.044 823.816,456.371 C824.236,455.644 824.730,454.791 825.170,454.031 C828.785,456.256 832.277,458.419 835.796,460.538 C835.989,460.654 836.449,460.267 836.701,460.355 C838.119,460.851 839.948,461.046 840.815,462.051 C842.215,463.675 842.976,465.849 844.758,469.203 C842.095,467.454 840.636,466.496 839.172,465.534 C837.304,470.442 840.046,472.305 850.259,473.478 C848.751,474.343 847.244,475.208 846.481,475.645 C846.898,478.793 847.224,481.262 847.556,483.767 C848.083,483.554 849.106,483.140 849.981,482.786 C851.406,484.932 852.740,486.942 854.764,489.990 C855.104,487.532 855.237,486.573 855.385,485.502 C856.788,487.811 858.023,489.845 858.757,491.052 C857.444,494.253 856.363,496.891 855.282,499.529 C857.168,499.816 859.053,500.103 861.127,500.419 C862.435,508.100 864.266,510.534 868.987,510.202 C867.697,507.272 866.385,504.415 865.203,501.505 C864.970,500.930 865.235,500.153 865.270,499.470 C866.008,499.701 866.745,499.933 867.483,500.161 C868.618,500.514 869.753,500.863 871.266,501.331 C864.933,507.323 874.504,508.922 874.017,513.315 C873.973,513.707 876.103,514.341 877.050,514.782 C877.400,512.375 877.654,510.628 878.072,507.757 C878.947,512.162 879.564,515.269 880.224,518.594 C882.487,517.655 883.677,517.162 884.210,516.941 C884.759,518.979 885.270,520.878 885.750,522.658 C888.488,520.854 890.944,518.162 892.144,518.639 C896.505,520.369 899.319,516.831 902.894,516.552 C904.497,516.427 907.054,517.013 907.699,518.131 C910.362,522.740 912.458,527.677 914.790,532.552 C909.234,533.434 902.180,532.693 898.860,540.840 C903.034,542.265 907.222,543.694 912.311,545.432 C909.899,546.167 908.483,546.599 906.834,547.102 C909.700,548.631 912.193,549.962 915.500,551.727 C910.549,551.333 906.643,551.022 902.736,550.712 C902.570,551.395 902.403,552.078 902.236,552.761 C905.086,554.439 907.936,556.118 911.135,558.002 C906.845,562.419 901.828,561.407 896.969,560.985 C896.759,562.794 896.594,564.222 896.374,566.118 C887.211,564.470 878.283,562.865 869.355,561.260 C869.554,561.720 869.753,562.179 869.953,562.638 C868.184,563.597 866.456,565.261 864.639,565.365 C861.037,565.571 857.338,565.188 853.767,564.554 C848.613,563.639 843.548,562.230 838.418,561.162 C837.449,560.960 835.958,560.976 835.386,561.559 C833.124,563.864 831.132,566.434 828.897,569.074 C830.303,572.370 832.096,576.572 834.002,581.040 C834.882,580.732 836.168,580.282 836.385,580.206 C838.749,585.384 840.974,590.260 843.302,595.360 C841.856,595.485 840.916,595.566 839.988,595.647 C839.927,599.176 839.351,602.925 844.748,602.743 C845.719,600.317 846.705,597.855 847.915,594.834 C848.704,596.394 849.268,597.698 849.993,598.907 C851.904,602.093 853.359,605.792 855.964,608.268 C859.822,611.935 865.119,614.389 862.141,621.225 C861.887,621.809 862.888,622.852 863.067,623.731 C863.529,626.009 865.006,629.252 864.035,630.440 C860.447,634.830 856.317,638.904 851.860,642.423 C845.922,647.111 838.676,650.371 833.445,655.678 C824.391,664.863 812.681,660.458 802.770,664.013 C802.458,661.985 802.245,660.600 802.032,659.215 C800.071,659.694 798.111,660.173 796.858,660.479 C794.595,658.681 792.400,656.938 790.205,655.195 C789.990,655.513 789.775,655.830 789.560,656.148 C790.197,657.263 790.834,658.378 791.471,659.492 C790.366,659.562 789.249,659.558 788.157,659.720 C786.406,659.979 783.804,659.746 783.086,660.780 C780.676,664.253 778.081,663.854 775.300,662.454 C775.686,661.401 776.436,659.676 776.324,659.618 C773.243,658.026 772.836,653.010 768.262,653.307 C767.622,653.349 766.309,652.455 766.346,652.103 C767.042,645.505 761.811,647.417 758.923,647.459 C754.002,647.530 749.080,649.558 744.245,646.921 C742.735,646.098 740.662,644.293 739.752,644.748 C736.503,646.373 733.422,646.006 731.314,645.116 C730.334,647.675 729.654,649.668 728.743,651.550 C728.631,651.782 727.289,651.418 726.346,651.312 C726.935,650.120 727.403,649.174 727.934,648.101 C726.123,647.643 724.023,647.759 723.267,646.808 C720.167,642.906 716.012,643.477 711.922,643.466 C709.829,643.460 708.005,643.977 707.077,640.770 C706.138,637.527 701.003,636.609 700.096,639.054 C698.270,643.975 696.021,642.319 693.032,640.361 C691.188,639.152 688.826,638.735 686.696,637.962 C686.415,638.617 686.133,639.272 685.852,639.927 C689.689,642.843 693.526,645.758 697.363,648.674 C696.779,648.954 696.195,649.235 695.610,649.515 C695.317,651.282 694.955,653.041 694.756,654.818 C694.646,655.797 695.129,656.931 694.797,657.781 C693.218,661.830 694.984,661.963 698.204,661.062 C699.283,660.760 701.514,660.967 701.632,661.387 C703.511,668.077 710.556,669.565 714.347,674.271 C716.714,677.211 719.293,679.265 722.009,674.070 C729.138,681.394 735.839,688.278 742.310,694.925 C741.047,696.987 740.061,698.595 738.990,700.344 C743.501,703.144 745.982,699.752 749.013,697.822 C748.642,699.721 747.761,701.355 748.223,702.388 C749.783,705.869 749.158,708.126 745.974,710.408 C742.148,713.151 741.961,718.859 745.208,720.884 C743.894,722.539 742.466,724.110 741.303,725.858 C739.748,728.194 738.921,732.009 736.858,732.811 C731.979,734.706 731.027,739.207 728.565,742.649 C725.479,746.962 722.739,751.533 720.014,756.091 C717.246,760.720 714.272,765.292 712.132,770.212 C709.783,775.612 706.941,780.211 701.367,782.700 C697.517,784.420 693.399,785.808 689.997,788.195 C686.164,790.884 683.035,794.567 679.537,797.748 C672.858,803.823 663.965,803.771 656.134,804.033 C647.501,804.322 638.683,801.430 630.078,799.372 C624.357,798.004 618.499,796.356 613.364,793.600 C606.276,789.796 599.811,784.830 592.328,779.863 C592.718,781.512 592.554,783.868 593.608,784.724 C597.464,787.858 601.522,790.870 605.883,793.227 C612.714,796.920 616.668,803.089 620.692,809.203 C622.586,812.080 621.052,813.973 618.017,815.324 C613.524,817.325 609.106,819.566 604.882,822.084 C599.496,825.294 594.713,829.896 588.976,832.033 C582.779,834.342 575.739,834.294 569.144,835.650 C562.161,837.086 552.458,833.675 551.157,846.019 C546.123,845.131 541.522,844.320 535.177,843.201 C538.385,846.817 540.562,849.730 543.195,852.144 C548.937,857.408 557.176,860.134 559.862,868.464 C561.013,872.032 561.813,875.714 562.733,879.191 C560.416,880.578 558.604,881.662 556.793,882.747 C556.858,882.397 556.924,882.048 556.989,881.698 C549.680,880.325 542.371,878.952 534.985,877.565 C534.873,878.817 534.729,880.405 534.548,882.421 C528.325,880.549 527.237,886.388 524.417,889.130 C520.761,892.683 518.561,893.078 515.132,887.706 C513.228,891.311 511.548,894.494 510.696,896.107 C511.398,899.150 512.625,901.563 511.995,902.234 C509.039,905.386 505.573,908.059 502.058,911.104 C503.094,912.073 504.182,913.090 505.270,914.107 C505.014,914.426 504.757,914.746 504.500,915.066 C503.235,914.092 501.919,913.177 500.719,912.129 C499.390,910.968 498.360,909.032 496.858,908.585 C493.288,907.523 489.508,907.186 485.829,906.474 C480.599,905.462 475.160,905.000 470.729,901.594 C468.139,899.602 465.765,897.328 463.178,895.332 C460.406,893.192 457.497,891.229 454.159,888.839 C451.681,888.839 448.317,888.839 444.764,888.839 C449.036,895.610 449.144,896.078 447.178,899.124 C449.369,901.940 451.032,905.841 453.942,907.373 C457.593,909.294 460.401,910.763 460.503,915.321 C460.520,916.070 462.582,917.598 463.016,917.384 C467.548,915.144 468.321,918.649 469.912,921.398 C471.175,923.579 472.986,925.443 474.553,927.448 C474.871,927.223 475.189,926.998 475.507,926.773 C475.716,928.315 475.926,929.858 476.138,931.422 C478.337,931.539 480.143,931.636 482.270,931.749 C478.291,940.884 490.578,938.861 491.152,945.000 C485.058,943.896 479.631,938.883 472.843,942.254 C472.495,942.427 470.610,940.734 470.379,939.699 C469.360,935.153 468.426,934.646 464.319,937.718 C465.668,932.143 462.646,931.415 458.530,931.556 C457.128,931.604 455.678,930.825 454.282,930.331 C451.081,929.198 447.900,928.009 445.257,927.042 C443.594,925.844 441.814,923.831 441.051,924.163 C439.495,924.839 438.604,926.905 437.224,928.162 C435.598,929.643 433.894,931.425 431.921,931.958 C431.049,932.193 428.937,929.894 428.266,928.362 C427.117,925.735 426.659,922.806 425.932,920.086 C419.066,921.031 418.079,922.152 417.383,929.464 C419.144,929.778 420.914,930.094 422.684,930.411 C418.332,932.257 414.044,933.286 409.744,934.264 C409.320,934.360 408.520,934.283 408.408,934.045 C406.038,929.007 402.167,931.434 398.763,932.162 C393.998,933.180 393.775,933.952 396.499,937.780 C395.133,938.729 393.785,939.665 391.177,941.478 C391.177,937.792 391.177,935.244 391.177,932.224 C390.016,930.436 388.396,927.943 386.554,925.107 C389.025,924.817 390.509,924.643 391.993,924.469 C392.114,924.006 392.235,923.542 392.355,923.079 C387.929,920.215 383.503,917.351 379.077,914.487 C378.699,915.026 378.320,915.566 377.942,916.105 C379.466,917.471 380.990,918.836 382.513,920.201 C382.364,920.432 382.216,920.662 382.067,920.892 C379.332,919.960 376.596,919.028 375.190,918.549 C370.136,920.769 366.144,922.522 361.342,924.632 C360.999,924.082 360.454,922.517 359.969,922.535 C355.033,922.723 352.772,919.501 350.563,915.871 C350.007,914.957 348.214,913.973 347.331,914.223 C343.348,915.354 341.228,912.812 338.614,910.706 C336.231,908.785 333.388,907.436 330.474,905.670 C329.553,904.183 328.141,902.347 327.200,900.294 C325.238,896.018 323.168,891.924 318.517,889.947 C317.405,887.427 316.398,884.853 315.132,882.414 C314.393,880.988 313.228,879.783 312.254,878.479 C312.493,878.304 312.731,878.129 312.970,877.955 C311.161,876.412 309.352,874.870 307.300,873.119 C306.411,873.790 305.311,874.618 303.737,875.805 C302.263,873.743 300.970,871.935 299.418,869.763 C298.382,871.562 297.276,873.483 296.143,875.453 C295.456,874.410 294.593,873.101 294.136,872.408 C300.294,864.550 289.155,863.698 289.589,858.497 C288.172,861.081 287.323,863.564 287.224,866.077 C287.014,871.446 285.353,873.095 279.011,873.071 C281.123,868.800 284.176,864.239 276.946,861.903 C276.747,861.839 276.890,861.002 276.677,860.642 C276.059,859.601 275.287,857.753 274.671,857.791 C273.267,857.877 271.916,858.889 270.552,859.544 C269.833,859.889 269.132,860.273 268.197,860.756 C267.949,859.572 267.760,858.666 267.520,857.522 C266.086,857.711 264.697,857.895 263.307,858.078 C265.109,855.090 267.546,853.134 269.863,851.044 C270.620,850.361 271.586,849.319 271.567,848.461 C271.461,843.765 262.232,832.674 257.414,831.402 C256.516,831.165 255.398,831.783 254.376,831.982 C252.778,832.294 251.153,832.911 249.582,832.800 C247.643,832.662 245.748,831.912 243.458,831.331 C243.906,829.128 245.433,825.427 239.851,827.062 C239.429,827.185 237.760,824.824 237.525,823.470 C236.898,819.860 236.462,817.149 231.359,817.979 C229.385,818.299 225.446,815.854 224.922,813.969 C223.550,809.027 223.880,808.713 217.354,809.454 C219.399,810.407 220.830,811.074 222.416,811.813 C215.363,817.901 214.385,818.119 211.181,814.244 C212.728,814.000 214.120,813.781 215.338,813.589 C215.238,812.138 215.154,810.925 215.061,809.575 C213.580,809.477 211.980,809.372 210.821,809.296 C209.129,805.536 207.631,802.208 206.427,799.534 C204.257,800.222 202.099,801.684 201.035,801.112 C196.179,798.500 192.799,794.264 189.761,789.407 C192.754,789.829 195.302,790.189 199.151,790.733 C195.838,786.668 192.173,783.941 195.525,779.571 C197.247,779.351 199.051,779.120 201.958,778.748 C199.780,776.156 198.390,774.503 196.814,772.627 C195.371,774.264 194.408,775.358 193.521,776.364 C187.062,774.542 186.501,773.235 189.827,767.903 C185.231,764.587 182.355,768.974 178.913,770.627 C174.954,764.335 171.158,758.304 167.177,751.978 C169.357,752.273 170.997,752.496 173.230,752.799 C170.165,748.751 167.665,745.450 165.035,741.978 C163.588,744.417 162.398,746.424 161.052,748.693 C159.988,748.015 158.979,747.372 158.037,746.771 C156.700,748.784 155.539,750.530 154.132,752.648 C152.543,751.233 151.021,749.878 149.455,748.484 C148.466,749.424 147.540,750.301 145.911,751.847 C143.165,748.835 139.611,746.397 138.255,743.065 C136.709,739.266 134.457,737.497 131.001,737.790 C128.900,737.969 126.950,739.918 125.017,741.024 C123.906,737.474 122.752,732.981 121.094,728.683 C118.699,722.474 111.253,718.680 107.231,721.931 C104.322,724.283 102.383,723.937 99.771,722.112 C100.743,720.335 101.680,718.620 102.635,716.874 C103.963,717.230 105.105,717.536 106.953,718.031 C106.204,713.980 102.975,710.901 101.177,712.506 C97.267,715.998 93.500,712.009 91.354,713.491 C89.661,710.651 88.633,707.782 86.663,705.901 C84.080,703.435 84.906,701.464 86.648,699.529 C87.880,698.159 89.677,697.298 91.417,696.072 C89.537,691.720 87.567,687.869 82.088,689.289 C81.623,688.041 81.530,686.492 80.813,686.106 C78.323,684.770 76.275,683.550 77.098,680.097 C77.209,679.631 75.158,678.651 74.108,677.909 C73.531,679.080 72.284,680.412 72.519,681.386 C72.969,683.246 74.385,684.850 75.160,686.663 C75.620,687.738 75.622,689.009 75.830,690.191 C73.849,688.815 72.979,687.258 72.135,685.688 C71.459,684.428 70.818,682.054 70.155,682.052 C64.041,682.032 64.873,678.999 66.820,675.210 C66.973,674.914 66.547,674.320 66.423,673.958 C64.616,674.180 62.912,674.390 60.939,674.633 C61.286,670.357 60.422,667.776 56.063,666.992 C52.961,666.434 50.543,660.345 51.369,656.634 C47.682,654.007 43.955,651.352 40.010,648.541 C41.245,646.237 43.594,643.832 43.468,641.564 C43.325,638.999 40.960,636.557 39.549,634.041 C38.475,635.323 37.445,636.551 36.165,638.078 C34.370,633.945 32.950,630.678 31.531,627.411 C32.048,627.164 32.565,626.916 33.081,626.669 C38.453,631.165 43.826,635.661 49.654,640.538 C50.437,639.459 51.778,637.610 53.044,635.864 C59.228,640.581 65.365,645.274 71.516,649.951 C74.424,652.162 77.256,654.504 80.349,656.420 C81.108,656.890 83.154,656.321 83.926,655.548 C87.022,652.446 83.121,649.849 83.052,647.022 C82.876,639.870 78.803,638.519 72.874,639.199 C72.272,639.268 71.637,639.047 70.535,638.893 C71.523,637.760 72.208,636.975 72.969,636.103 C66.565,629.610 74.774,627.250 76.677,622.732 C67.650,615.699 58.611,608.656 49.588,601.626 C53.523,597.995 56.187,597.803 60.228,600.902 C61.415,601.812 62.562,602.798 63.837,603.567 C67.798,605.955 71.835,608.218 75.800,610.600 C79.511,612.830 84.538,613.368 85.953,618.633 C86.139,619.324 87.618,619.599 88.376,620.217 C92.872,623.884 99.286,624.625 102.626,630.267 C104.120,632.792 107.022,634.665 109.627,636.285 C111.158,637.238 114.322,638.076 115.093,637.305 C118.313,634.087 121.431,636.702 124.364,637.085 C126.198,637.324 128.002,639.980 129.618,637.182 C130.672,635.357 130.880,633.043 131.472,630.930 C126.581,629.766 122.573,633.021 118.722,629.054 C116.112,626.364 110.921,626.631 109.282,622.132 C108.800,620.809 108.357,619.432 107.621,618.251 C106.595,616.603 105.516,614.884 104.085,613.617 C102.257,611.999 100.056,610.801 97.835,609.300 C101.374,607.282 103.730,605.938 105.786,604.766 C102.552,601.072 99.913,598.058 96.836,594.545 C98.940,594.296 100.294,594.137 102.101,593.924 C101.455,592.358 101.186,590.136 100.327,589.878 C95.178,588.332 96.232,584.694 97.065,581.417 C94.550,579.744 91.727,578.682 90.218,576.646 C88.489,574.314 87.927,571.117 86.858,568.296 C88.164,567.145 89.311,565.071 88.709,564.178 C87.482,562.358 85.084,561.376 83.585,559.680 C81.530,557.354 79.737,554.766 78.066,552.141 C76.647,549.911 76.027,546.996 74.228,545.220 C70.257,541.298 67.094,537.226 64.521,532.038 C55.803,514.455 55.908,496.504 60.782,478.271 C61.836,474.330 60.568,472.754 57.996,471.012 C51.723,466.763 45.291,462.740 39.145,458.317 C31.092,452.523 24.374,445.238 26.633,434.604 C28.440,426.097 32.394,418.031 35.631,409.863 C36.088,408.710 37.836,408.007 39.075,407.238 C42.323,405.220 43.815,400.972 42.344,397.862 C40.209,393.347 37.151,395.892 34.314,396.782 C33.750,396.960 33.225,397.264 32.945,397.391 C31.584,395.097 30.382,393.072 28.895,390.565 C31.816,391.688 34.121,392.575 35.277,393.020 C37.970,390.031 39.982,387.796 41.991,385.565 C38.061,378.939 30.899,381.460 25.418,381.238 C24.706,378.408 24.814,375.745 23.537,374.387 C20.593,371.256 17.019,368.764 16.977,363.837 C16.971,363.198 15.994,362.604 15.571,361.924 C14.293,359.870 13.066,357.785 11.820,355.713 C12.143,355.533 12.466,355.353 12.790,355.173 C14.270,355.936 15.750,356.699 18.276,358.002 C17.493,355.546 17.075,354.483 16.823,353.382 C16.532,352.109 15.736,350.235 16.285,349.604 C19.452,345.969 16.869,342.273 16.562,338.740 C16.113,333.568 14.778,328.552 18.186,323.726 C19.038,322.518 19.004,320.176 18.514,318.630 C17.323,314.872 19.651,314.340 22.107,314.663 C25.866,315.157 29.609,316.056 33.242,317.164 C37.332,318.412 41.785,319.217 43.087,324.587 C43.442,326.050 45.378,327.438 46.911,328.253 C53.932,331.989 61.087,335.473 68.145,339.141 C69.480,339.835 70.592,340.957 71.535,341.674 C75.202,335.814 78.527,330.501 82.491,324.167 C82.666,323.595 83.266,321.646 83.865,319.696 C84.478,319.818 85.092,319.940 85.706,320.062 C86.068,324.093 86.429,328.123 86.797,332.212 C93.340,331.126 93.775,329.900 89.947,325.107 C90.422,325.006 90.898,324.905 91.373,324.804 C90.722,321.733 90.071,318.662 89.421,315.591 C88.891,315.422 88.362,315.253 87.833,315.083 C89.822,313.670 91.812,312.257 94.237,310.535 C92.304,309.717 91.260,309.274 90.655,309.018 C91.306,306.362 91.848,304.152 92.413,301.847 C93.584,301.691 95.083,301.492 96.859,301.256 C96.264,300.373 96.083,299.826 95.707,299.588 C88.359,294.935 98.373,293.334 97.510,289.737 C97.390,289.236 98.732,287.874 99.470,287.814 C100.282,287.749 101.433,288.540 101.988,289.290 C103.724,291.634 105.248,294.134 106.672,296.296 C105.004,297.047 102.795,297.364 102.082,298.568 C101.463,299.613 102.126,302.697 102.960,303.030 C104.314,303.571 106.273,302.600 109.342,302.000 C108.204,304.368 107.263,306.327 106.279,308.374 C109.277,312.578 112.442,317.016 115.758,321.664 C115.399,323.580 114.972,325.860 114.531,328.219 C120.669,326.187 123.103,322.875 119.419,317.171 C121.502,317.171 123.013,317.171 124.700,317.171 C122.753,314.879 121.060,312.885 118.710,310.117 C125.857,308.315 131.888,307.007 136.787,301.836 C137.474,301.975 139.128,302.310 140.866,302.662 C142.514,292.701 137.619,285.162 132.513,277.162 C137.143,276.159 140.903,275.345 145.349,274.381 C148.947,277.785 152.128,275.933 155.358,271.051 C159.751,264.407 156.366,262.109 151.845,258.578 C150.035,257.164 149.907,253.634 148.940,251.095 C147.975,248.558 147.560,245.345 145.747,243.711 C143.246,241.458 139.918,242.070 137.353,244.665 C138.587,246.233 139.687,247.633 140.788,249.033 C140.438,249.390 140.088,249.748 139.738,250.105 C137.479,248.196 135.220,246.288 133.254,244.628 C135.829,240.970 137.904,238.023 140.249,234.691 C138.162,234.085 136.790,233.687 135.419,233.288 C135.877,233.020 136.336,232.752 136.794,232.484 C133.219,224.975 129.644,217.467 126.627,211.130 C124.517,209.357 123.208,208.273 121.917,207.167 C120.910,206.304 120.047,204.887 118.910,204.625 C114.257,203.551 114.438,201.475 116.847,199.352 C114.910,196.407 113.117,193.682 111.098,190.612 C112.999,186.739 107.474,185.771 106.046,182.743 C104.576,179.628 103.496,176.328 102.541,173.868 C99.512,174.229 97.508,174.468 95.503,174.707 C95.503,171.530 95.503,168.352 95.503,165.152 C97.548,165.152 98.584,165.152 99.620,165.152 C99.820,164.781 100.019,164.410 100.219,164.039 C98.066,162.390 95.914,160.740 93.793,159.115 C96.645,156.625 97.233,154.184 92.537,151.947 C91.582,151.491 90.965,149.025 91.238,147.701 C91.460,146.624 93.156,145.333 94.366,145.128 C95.486,144.938 97.244,145.728 98.004,146.667 C102.003,151.612 105.882,156.666 109.551,161.859 C110.486,163.182 111.075,165.238 110.837,166.807 C110.255,170.631 111.542,172.109 115.444,171.219 C116.735,170.925 117.980,170.430 119.563,169.926 C123.981,173.379 128.552,176.873 133.029,180.482 C135.649,182.593 138.840,184.451 140.502,187.194 C143.503,192.146 145.959,194.171 150.457,193.108 C149.551,194.242 148.708,195.296 146.974,197.467 C152.614,197.862 157.163,198.180 161.255,198.467 C160.296,198.985 158.533,199.937 155.608,201.517 C161.169,203.418 165.516,204.905 169.459,206.253 C171.226,204.865 172.789,203.637 174.538,202.263 C173.951,201.210 173.337,200.109 173.144,199.763 C174.415,197.190 175.441,195.114 176.467,193.038 C175.931,192.693 175.395,192.347 174.859,192.002 C173.693,193.293 172.527,194.583 170.502,196.824 C169.318,194.444 168.330,192.458 167.180,190.148 C169.295,190.801 170.444,191.247 171.633,191.427 C171.813,191.454 172.519,190.179 172.404,189.626 C171.787,186.645 170.988,183.702 170.138,180.287 C161.421,182.796 163.391,177.184 165.626,171.643 C163.033,172.083 161.439,172.354 159.396,172.700 C156.238,166.706 159.416,157.875 150.442,154.495 C151.044,154.075 151.645,153.656 152.247,153.236 C157.436,158.270 162.625,163.304 167.815,168.337 C168.325,167.881 168.835,167.424 169.346,166.967 C168.469,161.009 166.261,155.765 159.398,151.711 C162.374,151.711 164.044,151.711 165.539,151.711 C164.493,150.139 163.694,148.939 162.896,147.739 C164.095,147.615 165.295,147.491 167.101,147.304 C164.265,141.436 157.864,137.741 157.996,130.609 C161.405,133.356 163.682,136.911 166.576,139.862 C168.475,141.798 172.327,144.662 173.468,143.990 C177.715,141.491 179.393,144.778 181.184,145.709 C181.397,148.495 180.779,151.554 181.850,152.355 C185.302,154.937 189.376,156.687 193.580,158.958 C193.827,157.623 193.677,156.399 194.214,155.859 C197.841,152.210 195.702,150.918 192.160,149.331 C190.320,148.507 189.120,146.256 187.631,144.649 C187.923,144.279 188.216,143.909 188.509,143.539 C191.007,143.744 193.506,143.950 196.362,144.185 C192.936,136.937 199.508,140.495 202.459,138.553 C199.350,136.074 196.686,133.950 194.511,132.216 C192.180,133.795 190.476,134.949 188.512,136.278 C187.083,133.933 183.376,132.781 186.476,129.242 C187.978,127.529 189.119,125.500 190.424,123.613 C190.087,123.351 189.751,123.088 189.415,122.826 C190.193,122.699 190.971,122.573 192.652,122.300 C188.707,119.932 185.306,118.016 192.104,114.708 C191.583,114.478 191.062,114.248 190.540,114.017 C189.145,114.236 187.750,114.455 185.899,114.745 C185.484,110.829 185.076,106.969 184.607,102.546 C186.096,103.787 187.105,104.628 188.518,105.806 C188.947,104.076 189.233,102.924 189.628,101.331 C193.954,105.284 196.532,103.652 198.633,98.140 C194.703,96.515 190.744,94.879 187.009,93.335 C187.529,93.053 188.824,92.348 190.054,91.680 C187.924,83.745 184.357,76.310 187.485,68.091 C188.456,65.539 189.013,62.827 189.722,60.179 C191.320,54.212 191.256,54.299 196.877,57.726 C197.845,58.316 200.084,58.347 200.732,57.672 C203.933,54.339 207.175,51.017 211.988,54.207 C215.562,56.576 218.797,59.570 221.793,62.664 C224.324,65.278 226.373,68.283 230.920,67.357 C230.920,65.162 230.920,63.090 230.920,60.714 C231.991,61.401 232.751,61.889 233.510,62.376 C233.811,61.979 234.150,61.736 234.187,61.454 C234.964,55.524 234.254,49.061 240.334,45.066 C240.702,44.824 240.364,43.514 240.363,42.701 C240.360,41.207 240.362,39.713 240.362,37.566 C241.830,39.761 242.812,41.230 243.658,42.494 C244.377,39.019 244.989,36.059 245.563,33.284 C247.649,34.138 248.810,34.614 249.971,35.090 C250.066,33.807 250.063,32.507 250.278,31.245 C250.711,28.703 251.264,26.182 251.699,23.996 C254.046,26.321 255.591,28.887 257.820,29.822 C261.380,31.315 265.394,31.724 268.479,32.425 C268.728,34.586 268.394,36.428 269.117,37.062 C271.149,38.843 273.479,41.085 275.937,41.440 C286.588,42.975 292.265,51.978 300.438,57.549 C298.784,57.220 297.130,56.891 296.111,56.687 C292.701,59.075 289.658,61.207 285.778,63.924 C294.614,65.270 302.006,66.396 309.398,67.523 C305.455,69.043 301.560,69.710 297.656,70.327 C297.423,70.364 297.099,70.039 296.866,69.827 C293.022,66.328 290.531,68.733 287.216,72.292 C293.186,74.483 298.442,76.412 303.881,78.408 C302.672,79.341 301.853,79.973 300.484,81.028 C304.773,81.963 308.150,82.699 311.110,83.344 C311.786,81.216 312.243,79.780 312.699,78.344 C314.006,78.943 315.314,79.541 316.987,80.308 C318.031,76.357 319.090,72.350 320.149,68.344 C320.363,68.409 320.577,68.474 320.791,68.539 C320.984,71.660 321.177,74.781 321.370,77.903 C321.835,77.927 322.301,77.951 322.766,77.976 C327.532,69.851 325.415,59.141 332.486,51.744 C332.486,53.036 332.486,54.328 332.486,55.620 C332.881,55.772 333.277,55.925 333.672,56.077 C334.955,53.748 336.238,51.418 337.913,48.377 C341.147,54.158 344.236,59.682 347.710,65.893 C349.089,64.131 350.174,62.745 351.374,61.211 C356.173,63.427 361.051,65.679 365.929,67.931 C364.018,69.516 360.897,65.624 361.316,70.860 C361.370,71.534 357.843,72.495 355.903,73.356 C356.791,74.912 357.581,76.297 358.286,77.534 C356.289,77.534 354.786,77.534 353.283,77.534 C354.175,78.955 354.823,80.640 356.007,81.751 C359.754,85.264 364.655,87.954 367.308,92.113 C370.044,96.402 372.644,97.844 377.224,96.529 C377.447,96.465 377.768,96.737 379.580,97.499 C377.748,98.053 376.627,98.392 375.506,98.731 C375.699,99.075 375.892,99.418 376.085,99.762 C377.549,100.138 379.013,100.513 380.677,100.940 C376.921,105.184 382.159,105.866 383.307,108.001 C383.542,108.437 387.049,107.571 388.701,106.670 C390.721,105.568 392.376,103.795 394.891,101.738 C394.147,100.059 392.981,97.429 391.070,93.118 C395.666,94.811 399.140,95.911 402.458,97.370 C405.031,98.501 407.423,100.563 409.083,98.167 C408.480,94.847 408.052,92.489 407.571,89.847 C405.665,87.879 398.990,91.833 400.390,85.224 C400.950,82.575 404.086,80.471 406.050,78.119 C407.465,73.915 407.465,73.915 410.459,73.785 C410.342,75.268 410.222,76.797 410.102,78.326 C410.559,78.390 411.016,78.455 411.473,78.519 C414.212,71.901 416.951,65.284 419.600,58.883 C421.227,59.089 423.511,59.788 425.697,59.560 C429.132,59.200 432.786,57.026 435.836,57.756 C441.311,59.066 446.343,62.133 451.676,64.156 C459.678,67.192 467.781,69.960 476.240,72.986 C479.253,68.681 482.008,70.971 484.930,73.988 C487.544,76.686 490.448,79.104 493.224,81.646 C493.566,81.349 493.909,81.053 494.252,80.757 C494.017,79.151 493.783,77.545 493.428,75.107 C498.006,77.607 498.310,79.945 495.014,82.496 C497.836,84.244 500.253,86.207 503.018,87.240 C504.246,87.699 507.540,86.317 507.557,85.708 C507.643,82.494 506.984,79.260 506.544,75.716 C508.340,77.607 509.634,79.900 511.576,80.808 C514.909,82.369 518.647,83.065 522.213,84.124 C520.771,88.619 523.392,91.492 529.893,93.667 C531.594,91.040 527.517,86.020 533.390,84.973 C533.493,84.954 533.654,82.305 533.010,81.528 C529.195,76.923 529.754,71.373 531.662,66.958 C533.298,63.171 533.687,61.006 530.496,58.765 C534.646,53.856 539.683,49.580 542.434,44.146 C544.945,39.190 545.826,35.680 552.866,37.737 C556.027,38.661 559.907,39.617 560.468,41.792 C561.600,46.179 565.694,44.565 567.828,46.721 C567.657,45.724 567.487,44.727 567.416,44.306 C571.314,45.709 575.222,47.050 579.062,48.565 C579.684,48.810 579.909,49.925 580.481,50.465 C581.380,51.313 582.308,52.391 583.416,52.715 C591.881,55.191 593.208,64.370 599.079,69.270 C600.071,70.098 600.333,72.508 601.174,72.639 C602.346,72.822 603.746,71.548 605.606,70.619 C602.797,68.040 600.638,66.057 598.479,64.075 C598.609,63.879 598.738,63.684 598.867,63.488 C601.218,64.237 603.569,64.986 605.921,65.735 C606.743,63.100 607.553,60.461 608.398,57.834 C608.600,57.204 608.871,56.585 609.191,56.006 C610.854,53.003 608.928,52.644 606.609,51.828 C603.955,50.894 600.308,49.750 599.342,47.657 C597.080,42.761 594.460,40.658 588.917,43.580 C588.743,43.077 588.568,42.574 588.394,42.071 C590.225,40.132 592.055,38.193 593.932,36.205 C593.152,35.614 591.636,34.465 590.119,33.315 C590.269,32.835 590.418,32.355 590.567,31.875 C597.069,33.783 602.797,39.485 610.705,37.939 C608.000,36.115 606.025,34.784 603.097,32.809 C609.751,32.415 609.750,32.415 608.154,27.426 C608.106,27.277 608.090,27.078 608.149,26.942 C609.740,23.276 606.805,23.652 604.748,22.686 C601.348,21.090 597.822,19.120 599.405,13.138 C602.465,13.698 607.098,13.241 608.196,14.996 C611.309,19.969 612.018,16.787 613.140,14.217 C619.347,17.843 625.344,21.305 631.298,24.838 C638.362,29.029 645.379,33.298 652.438,37.497 C654.699,38.841 656.960,40.976 659.343,41.159 C664.367,41.545 664.400,41.114 663.573,44.784 C665.280,47.302 666.627,49.288 668.129,51.503 C667.937,51.503 668.491,51.626 668.568,51.485 C671.171,46.760 673.375,47.495 675.530,51.860 C675.845,52.500 676.888,52.770 677.575,53.238 C679.825,54.772 682.339,56.041 684.260,57.915 C689.783,63.300 696.927,64.409 703.659,66.650 C703.988,66.247 704.316,65.845 704.645,65.442 C702.313,62.226 699.982,59.009 696.798,54.618 C699.898,56.008 702.178,57.031 704.190,57.933 C705.151,56.378 706.055,54.914 706.959,53.451 C707.830,54.818 708.711,56.178 709.570,57.553 C710.795,59.515 712.255,61.430 714.633,59.342 C716.321,57.859 717.495,55.793 719.197,53.605 C717.015,53.914 715.548,54.123 712.747,54.520 C716.868,51.628 719.676,49.248 722.862,47.599 C724.399,46.803 726.782,47.804 728.544,47.243 C731.250,46.381 733.658,44.594 736.359,43.707 C740.172,42.455 744.136,41.665 747.222,40.883 C747.566,37.781 747.859,35.145 748.159,32.435 C746.901,32.689 745.453,32.982 744.004,33.275 C748.291,31.419 750.713,29.105 748.525,24.118 C748.314,23.636 749.790,21.915 750.777,21.534 C751.941,21.085 753.706,20.987 754.722,21.578 C758.728,23.908 762.597,26.491 766.412,29.130 C769.948,31.575 774.649,33.527 776.455,36.953 C778.347,40.541 779.747,40.336 782.223,39.054 C782.724,40.128 782.976,41.525 783.483,41.625 C788.658,42.639 791.319,46.335 793.199,50.695 C794.942,54.739 798.329,53.953 801.278,53.514 C804.403,53.048 807.403,51.747 810.330,50.850 C809.643,54.104 809.158,56.403 808.974,57.271 C811.907,58.599 813.712,60.099 815.512,60.095 C819.835,60.084 815.746,63.302 817.479,64.371 C820.939,66.505 824.401,68.729 827.488,71.356 C832.875,75.939 840.639,77.804 843.469,85.404 C843.920,86.614 845.691,88.217 846.759,88.150 C850.267,87.930 850.616,91.064 850.633,92.531 C850.687,97.193 853.061,97.121 856.114,95.859 C860.240,94.154 862.944,95.270 864.921,99.208 C865.412,100.185 866.938,100.624 867.948,101.366 C868.286,101.615 868.496,102.035 869.080,102.778 C867.426,103.053 866.183,103.260 864.939,103.466 C864.866,103.876 864.793,104.285 864.719,104.694 C866.235,105.153 867.987,106.307 869.206,105.892 C870.668,105.395 871.676,103.561 872.714,102.480 C872.714,105.648 872.714,108.369 872.714,112.339 C875.551,110.119 877.276,108.769 879.001,107.419 C878.933,107.869 878.866,108.319 878.798,108.769 C883.233,110.468 887.667,112.166 892.954,114.192 C890.433,114.404 888.916,114.531 887.399,114.659 C887.195,115.207 886.991,115.755 886.786,116.303 C890.974,118.411 895.031,120.875 899.401,122.491 C901.928,123.426 905.090,122.559 907.714,123.345 C909.180,123.783 910.131,125.943 911.314,127.328 C910.930,127.586 910.546,127.844 910.162,128.101 C906.974,127.334 903.785,126.567 900.596,125.799 C900.444,126.401 900.292,127.003 900.140,127.605 C906.585,128.795 910.251,137.476 917.903,134.079 C917.718,136.079 917.511,138.311 917.263,140.994 C916.213,140.994 914.576,140.729 913.081,141.074 C911.775,141.375 910.629,142.364 909.988,142.724 C915.155,144.468 920.046,146.119 925.917,148.101 C923.380,149.483 921.931,150.273 920.482,151.062 C921.507,151.979 922.347,152.074 923.157,151.962 C926.112,151.552 929.246,150.205 931.969,150.795 C938.518,152.213 943.704,147.988 949.663,147.052 C953.497,146.450 956.888,145.374 960.448,147.077 C963.077,148.335 965.491,150.042 968.000,151.548 C968.000,151.882 968.000,152.215 968.000,152.549 C966.319,152.658 964.639,152.768 962.958,152.877 ZM318.570,890.056 C318.568,890.059 318.566,890.063 318.565,890.066 C318.544,890.024 318.521,889.980 318.500,889.938 C318.506,889.940 318.511,889.944 318.517,889.947 C318.528,889.972 318.539,889.997 318.550,890.022 C318.557,890.034 318.565,890.048 318.570,890.056 ZM309.499,894.822 C310.518,889.873 310.618,889.864 316.963,893.865 C317.529,892.549 318.056,891.323 318.565,890.066 C319.273,891.465 319.988,892.878 320.972,894.822 C317.017,894.822 313.338,894.822 309.499,894.822 ZM690.673,24.425 C693.446,26.489 695.598,28.091 697.761,29.701 C694.141,32.928 692.603,31.891 690.673,24.425 ZM670.276,42.989 C668.464,39.273 666.560,35.366 664.655,31.460 C664.995,31.215 665.334,30.971 665.674,30.727 C664.133,30.492 662.592,30.256 659.669,29.810 C662.463,27.980 664.245,26.813 665.792,25.800 C668.144,27.305 670.164,28.597 673.104,30.477 C673.104,26.908 673.104,24.832 673.104,22.756 C673.557,22.719 674.010,22.681 674.462,22.644 C675.810,28.675 677.157,34.707 678.504,40.738 C677.959,40.828 677.413,40.919 676.867,41.009 C674.805,41.629 672.743,42.248 670.276,42.989 ZM590.924,15.319 C586.017,11.095 581.539,7.240 576.877,3.227 C578.554,1.739 579.840,0.598 580.513,0.000 C584.158,1.495 587.277,2.774 590.973,4.290 C590.805,5.165 590.477,6.877 590.058,9.061 C590.753,9.495 591.800,10.149 593.154,10.995 C592.561,12.145 591.939,13.351 590.924,15.319 ZM545.124,28.773 C548.667,29.057 552.082,29.331 555.497,29.605 C555.459,30.033 555.421,30.460 555.383,30.888 C546.112,32.634 546.112,32.634 545.124,28.773 ZM345.962,53.415 C345.667,51.309 344.235,49.363 343.158,46.991 C350.386,46.728 348.881,54.236 353.176,56.939 C349.075,58.097 346.589,57.892 345.962,53.415 ZM-0.000,344.573 C-0.000,343.572 -0.000,342.572 -0.000,341.572 C2.524,340.241 5.047,338.909 8.002,337.350 C8.002,344.288 8.002,349.888 8.002,355.884 C2.113,353.974 2.824,348.024 -0.000,344.573 ZM140.936,752.974 C139.245,754.851 137.765,756.496 135.795,758.683 C133.409,755.125 131.162,751.775 128.915,748.425 C129.287,748.090 129.660,747.755 130.032,747.420 C133.541,749.207 137.050,750.994 140.936,752.974 ZM593.444,859.708 C592.692,862.490 592.180,864.383 591.474,866.996 C589.403,864.873 591.250,859.344 584.651,863.508 C585.121,862.456 585.591,861.404 586.061,860.352 C588.206,860.165 590.351,859.978 593.444,859.708 ZM623.621,891.987 C627.315,887.345 631.820,886.136 635.109,888.748 C638.662,891.570 640.304,898.644 637.228,902.462 C639.957,903.642 642.364,904.683 644.067,905.419 C644.067,907.542 644.443,909.379 643.954,910.946 C643.527,912.316 641.688,914.557 641.232,914.386 C638.820,913.482 633.880,917.077 634.229,910.407 C634.325,908.581 630.970,906.574 628.709,904.117 C630.937,901.492 633.106,898.937 635.476,896.144 C632.720,895.187 630.060,894.262 626.462,893.012 C627.446,895.020 628.020,896.191 628.935,898.059 C625.712,898.517 622.248,894.273 619.408,898.083 C621.417,894.053 616.809,893.141 616.153,891.382 C617.449,889.543 618.466,888.099 619.716,886.326 C620.891,888.030 622.240,889.985 623.621,891.987 ZM619.408,898.083 C619.202,898.496 618.950,898.931 618.592,899.415 C618.857,898.877 619.130,898.455 619.408,898.083 ZM769.069,656.208 C767.925,658.695 766.780,661.182 765.636,663.669 C764.979,663.382 764.321,663.094 763.664,662.806 C764.737,660.291 765.811,657.777 766.884,655.262 C767.612,655.577 768.341,655.893 769.069,656.208 Z"
                                              fill="url(#banner_mimg)"/>
                                        <pattern id="banner_mimg" patternUnits="userSpaceOnUse" width="968px"
                                                 height="945px">
                                            <image class="cv_slide" xlink:href="{% static 'images/index.jpeg' %}"
                                                   width="968px"
                                                   height="945px" x=0 y=0></image>
                                        </pattern>
                                    </svg>
                                </div>
                            </div>
                            <div class="brc_hirebtn">
                                <a href="javascript:;" class="portfolio_btn btn_orange">
                                    <span class="first_text">{% static_placeholder "hire me" inherit or %}Hire Me{% endstatic_placeholder %}</span>
                                    <span class="second_text">{% static_placeholder "hire" inherit or %}Hire{% endstatic_placeholder %}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 align-self-center">
                        <div class="banner_content">
                            <div class="bannner_leftpart">
                                <h2 class="stranger">{% static_placeholder "helo" or %}HELLO!{% endstatic_placeholder %} <span class="stran">{% static_placeholder "stranger" or %}Stranger!{% endstatic_placeholder %}</span></h2>
                                <h1 class="banner_name ">{% static_placeholder "mr" or %}Mr. Josuedjh Cayola{% endstatic_placeholder %}</h1>
                                <p class="banner_pera">{% static_placeholder "Freelance" or %} Freelance{% endstatic_placeholder %} </p>
                                <div class="banner_typingtext">
                                    <ul class="texts home-desc">
                                        <li class="list-inline-item">Web & Mobile UI/UX Designer </li>
                                        <li class="list-inline-item">Front End Developer </li>
                                        <li class="list-inline-item">Web Designer & Developer </li>
                                    </ul>
                                </div>
                                <div class="banner_btn">
                                    <a href="javascript:;" class="portfolio_btn btn_yellow">
                                        <span class="first_text">{% static_placeholder "download-cv" inherit or %}Download CV {% endstatic_placeholder %}</span>
                                        <span class="second_text">{% static_placeholder "download" inherit-1 or %}Download {% endstatic_placeholder %}</span>
                                    </a>
                                    <a href="javascript:;" class="portfolio_btn btn_red">
                                        <span class="first_text">{% static_placeholder "send-m" inherit-12 or %}Send Message{% endstatic_placeholder %}</span>
                                        <span class="second_text">{% static_placeholder "send" inherit-12-0 or %}Send{% endstatic_placeholder %}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End banner wrapper -->
    </div>
    <div class="port_togglebox">
        <span></span>
        <span></span>
        <span></span>
    </div>
    {% include 'layaout/about.html' %}
    {% include 'layaout/education.html' %}
    {% include 'layaout/blog.html' %}
<h1>{% render_model instance "some_attribute" "some_field,other_field" %}==>Aqui</h1>

{% endblock %}
