<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div id="daily_special">
    <h1 class="ds_elem name">{{ instance.title }}</h1>
    <p class="ds_elem desc">
        {{ instance.slug }}
        ===><a class="more_link" href="{{ instance.content }}">More...</a>
    </p>
</div>
</body>
</html>
